{%extends 'base.html' %}

{%block title%}
<title>List of titles</title>

{%endblock%}

{%block content%}

<style>
    .menu{
    width:100%;
    height:40px;
    background-color:#000000;

    }
    .menu ul{
    display:flex;
    justify-content:center;
    }





    h1{
        color:#FFDD00;
        margin:20px;

    }



       .center {
        display: block;
        margin-left: 40%;


        }

    img{

        width:500px;
        height:210px;
    }

    a{
    color:#FFDD00;
    padding:20;
    }
    </style>
<h1 align="center">WWE CHAMPIONSHIPS</h1>
<br>


{%if all_titles_list%}
{%for title in all_titles_list%}

<a href="{% url 'title_detail' title.id%}"><img src="{{title.image}}"></a>

{%endfor%}


{%else%}
No titles

{%endif%}

{%endblock%}